@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-serif; /* Default font for the entire app */
}

h1, h2, h3 {
  @apply font-cursive; /* Apply cursive font to headings */
}

.navbar-links {
  @apply font-tesla; /* Apply Tesla font to navbar links */
}

/* Add this to your global CSS file */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.loading-ball {
  width: 16px;
  height: 16px;
  background-color: #3b82f6; /* Blue */
  border-radius: 50%;
  animation: bounce 0.5s infinite ease-in-out;
}